.post_container {
    width: 100%;
    margin: 50px auto;
    padding: 25px 0;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #8ec045;
    border-radius: 4px;
}

.post_top {
    width: 100%;
    padding: 15px 35px;
    text-align: center;
    min-height: 90px;
    border-bottom: 1px solid #8ec045;
}

.post_top h2 {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #002f34;
}

.post_body {
    width: 100%;
}

.post_detailBox {
    width: 100%;
    padding: 15px 15px 0 35px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.post_detailBox h3 {
    color: #002f34;
}

.postsecDivider {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 47, 52, .2);
}

.post_detailBox span {
    color: rgba(0, 47, 52, .64);
    font-size: 12px;
    margin-top: 2px;
}

.post_detailBox label {
    color: #002f34;
    display: block;
    font-size: 14px;
    line-height: 16px;
}

.post_detailBox>input[type=text],
.post_detailBox>input[type=number],
.post_detailBox>select,
.post_detailBox>.data-list-for-brand {
    appearance: none;
    background: none;
    border: none;
    color: #002f34;
    display: block;
    font-size: 16px;
    height: 48px;
    box-sizing: border-box;
    outline: none;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: inset 0 0 0 1px #8ec045;
    border-radius: 4px;
    margin-top: 3px;
    max-width: 95% !important;
    text-transform: capitalize;
}

.post_detailBox>textarea {
    box-shadow: inset 0 0 0 1px #8ec045;
    border-radius: 4px;
    margin-top: 3px;
    appearance: none;
    background: none;
    border: none;
    color: #002f34;
    display: block;
    font-size: 16px;
    height: 100px;
    padding: 15px 12px;
    box-sizing: border-box;
    outline: none;
    margin-top: 3px;
    width: 95% !important;
}

.data-list-for-brand {
    /* appearance: none; */
    background: none;
    border: none;
    color: #002f34;
    display: block;
    font-size: 16px;
    height: 48px;
    box-sizing: border-box;
    outline: none;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: inset 0 0 0 1px #00a49f;
    border-radius: 4px;
    margin-top: 3px;
    line-height: 48px;
    width: 95% !important;
}

.img-select-btn {
    background-color: #fff;
    align-items: center;
    color: var(--primary);
    cursor: pointer;
    user-select: none;
    position: relative;
    z-index: 1;
    padding: 3px;
    border: 2px dashed var(--primary);
    width: 160px;
    height: 140px;
}

.img-select-btn input {
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 111;
}

.select-img-default {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.removeimg {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    z-index: 2;
    outline: none;
    background-color: red;
    color: #fff;
    cursor: pointer;
}

.prodImgwrapper {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start;
    align-items: center;
}

.SelectprodImgWrapper {
    width: 104px;
    height: 104px;
    position: relative;
    vertical-align: top;
    margin: 0 6px 6px 0;
}

.SelectprodImgWrapper-2 {
    width: 125px
}

.imgSelbtn {
    border: 2px solid #8ec045;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #002f34;
    cursor: pointer;
    user-select: none;
    position: relative;
    z-index: 1;
    padding: 3px;
    outline: #8ec045;
}

.formProdimg {
    width: 100%;
    height: 100%;
    object-position: center center;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border: none;
    outline: none;
}

.postBtn,
.postBtnnot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    min-width: 115px;
    /* max-width: 140px; */
    color: #fff;
    background-color: var(--primary);
    border-radius: 4px;
    border: 5px solid var(--primary);
    padding: 0 7px;
    font-size: 16px;
    height: 48px;
    cursor: pointer;
    font-weight: 700;
}

#postBtnnot {
    background-color: #d8dfe0;
    color: #7f9799;
    border-color: #d8dfe0;
    cursor: not-allowed;
    user-select: none;
    pointer-events: none;
}

.successmsgbox {
    position: fixed;
    top: 100px;
    right: 25px;
    min-width: 150px;
    min-height: 35px;
    padding: 7px 10px;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    text-align: left;
    background-color: #00a49f;
    border-radius: 4px;
    opacity: .9;
    display: flex;
    align-items: center;
}

.sidebarTabs {
    transition: .2s;
    min-height: 55px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 0 !important
}

.sidebarTabs .MuiTab-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: 900;
    text-align: left;
}

.sidebarTabs:hover {
    background-color: rgb(31, 31, 31);
}

.sidebarTabs[aria-selected="true"] {
    background-color: rgb(31, 31, 31);
}

.sidebarTabs .MuiTab-wrapper svg {
    min-width: 50px !important;
    font-size: 18px;
    margin-right: 15px;
    min-height: 25px !important;
    overflow: hidden;
    margin-left: -5px !important
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.dashboarTabsHeading {
    padding: 15px 0;
    font-size: 25px;
    margin: 15px auto;
    text-transform: uppercase;
    width: 100%;
    text-align: left;
    /* text-shadow: 2px 2px 0px rgba(199, 185, 255, 1); */
    font-weight: 900;
}

.dashboardHomeCards {
    /* border: 2px solid red; */
    width: 350px;
    border-radius: 5px;
    padding: 15px;
}

#uploadingloaderwrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(136, 136, 136, 0.397);
    background: rgba(177, 177, 177, 0.493);
    margin: 0 auto;
    z-index: 99999;
}

#uploadingloaderwrapper h1 {
    font-size: 28px;
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploadingProgress {
    position: relative;
    color: var(--primary);
    font-weight: 700;
}

.uploadingperc {
    position: absolute;
    top: 37%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.uploadinghead {
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
    padding: 10px;
    color: var(--primary);
}

.UserupdateFormAdmin {
    padding: 20px;
    overflow-x: hidden;
    word-break: break-all;
}

.tab_btn {
    margin-right: 12px !important;
}


/*  loader full screen dashboard*/

.full-screen-loader-wrapper {
    filter: blur(.7px);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-filter: blur(.7px);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999 !important;
}

.full-screen-loader-wrapper .full-screen-child {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    text-align: center;
}


/* view details pop list  */

.detailList li {
    width: 100%;
    height: max-content;
}


/* .detailList li span {
    width: 100%;
    overflow: hidden;
    background-color: #00a49f;
} */

.detailList li p,
.detailList li span {
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    display: flex;
    height: 100%;
}

.View-details-media {
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Tabs-title-mobile {
    font-size: 2rem;
    display: inline;
    float: left;
    margin: 10px 0 12px 0;
}

.table-search-wrapper .MuiOutlinedInput-input {
    padding: 13px 8px !important;
}

.table-search-wrapper {
    margin-top: 24px;
    display: flex;
    gap: 4;
    justify-content: space-between;
    align-items: center;
    outline: none;
    border: none;
    height: 45px
}

.table-search-input {
    background-color: var(--white);
    width: 80%;
}

.table-add-btn {
    min-height: 43px;
    min-width: 100px !important;
    margin-left: 4px;
    /* background-color: lightseagreen !important; */
}

@media (max-width: 620px) {
    .table-add-btn {
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        box-shadow: none;
    }
    .table-search-wrapper .MuiOutlinedInput-root {
        min-height: 43px;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
    .table-add-btn {
        min-width: max-content !important;
        margin-left: 0px;
    }
    .admin-page {
        padding: 0 7px
    }
}

.admin-page {
    min-height: 100vh;
    transition: all 0.4s ease;
}

.admin-page ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.admin-side-bar ::-webkit-scrollbar {
    width: 0px;
    display: none;
    appearance: none;
    -webkit-appearance: none;
}

@media (max-width: 992px) {
    .sidebarTabs {
        width: auto !important;
        min-width: auto !important;
        max-width: auto !important;
        height: 25px;
        overflow: hidden;
    }
    .sidebarTabs {
        min-height: 50px !important;
        overflow: hidden;
    }
    .sidebarTabs svg {
        min-height: 20px !important;
        overflow: hidden;
        margin-left: -5px !important;
    }
}


/* search table */

.no-record-found {
    margin: 8px auto;
    text-align: center;
}

.no-record-found h4 {
    font-size: 1.7rem;
    margin: 12px auto 10px auto;
    padding-bottom: 15px;
}

.no-record-found img {
    width: 90px;
    height: 90px;
}

.no-record-img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background-color: #f7fafc;
    box-shadow: 0px 2px 1px #e1e3ec;
    border-radius: 50%;
    margin: 0 auto;
}

.search-records-row {
    background-color: #ebf5e3 !important;
    position: relative;
}

.search-res-notify {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    color: green;
    font-size: 1.2rem;
    justify-content: space-between
}

.search-res-notify span {
    font-size: .7rem;
}


/* su */

.tabs-bar-for-tables {
    color: #fff;
    box-shadow: none !important;
}

.tabs-bar-for-tables button[aria-selected=true] {
    background-color: rgb(255, 255, 255);
    color: #000
}


/* custom inputs */

.colored {
    background-image: linear-gradient( to left bottom, var(--color-primary), var(--color-primary-dark));
}

.clipped {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.drop_shadow {
    -webkit-filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.15));
    filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.15));
}

.text_colored {
    color: var(--color-primary);
}

.title {
    font-size: 1.5rem;
}

.nav_top {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 12;
}

.input100 {
    font-size: 18px;
    color: #555;
    line-height: 1.2;
    display: block;
    width: 100%;
    background-color: #efefef !important;
    padding: 0 5px;
}

.validate-input {
    position: relative;
}

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
    margin-bottom: 10px;
    margin-top: 2rem;
}

.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input100:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.4s;
    background: var(--color-primary);
}

.input100:focus+.focus-input100:before {
    width: 100%;
}

.input100 {
    font-size: 18px;
    color: #555;
    line-height: 1.2;
    border: 0;
    resize: none;
    outline: none !important;
    display: block;
    width: 100%;
    min-height: 52px;
    background: transparent;
    padding: 10px;
    border-radius: 4px;
}

.focus-input100:after {
    font-size: 18px;
    color: #999;
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 15px;
    left: 0;
    padding-left: 5px;
    transition: all 0.4s;
}

.input100:focus+.focus-input100:after {
    content: attr(data-placeholder) ":";
    top: -20px;
    font-size: 15px;
}

.has-val.input100+.focus-input100:before {
    width: 100%;
}

.has-val.input100+.focus-input100:after {
    top: -20px;
    font-size: 15px;
}

.heading {
    font-size: 2.5rem;
}

.hide {
    display: none;
}

.submit-button {
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 1px;
    position: relative;
    height: 38px;
    width: 120px;
    line-height: 38px;
    overflow: hidden;
    background-image: linear-gradient( to left bottom, var(--color-primary), var(--color-primary-dark));
    border-radius: 3px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit-button:hover,
.submit-button:focus {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.submit-button.animated {
    -webkit-animation: 0.75s short-press cubic-bezier(0.77, 0, 0.175, 1) forwards;
    animation: 0.75s short-press cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.submit-button>span {
    display: block;
    color: white;
    text-align: center;
}

.submit-button>span.pre-state-msg {
    transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
    transition-delay: 0.75s;
}

.submit-button.state-1 .pre-state-msg {
    margin-top: -38px;
}

.submit-button.state-2 .pre-state-msg {
    margin-top: -76px;
}

.current-state-msg {
    position: relative;
    width: 100%;
    height: 100%;
}

.icon_2 {
    position: absolute;
    top: 50%;
    left: 50%;
    fill: currentColor;
    width: 1.6rem;
    height: auto;
    -webkit-animation: rotate 1s ease-in-out infinite;
    animation: rotate 1s ease-in-out infinite;
}

@-webkit-keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.round {
    border-radius: 20px !important;
    overflow: hidden;
}

.para {
    font-size: 1rem;
}

@media (max-width: 992px) {
    .clipped {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        flex-direction: row !important;
    }
    .clipped svg {
        width: 150px;
        margin-right: 3rem;
    }
}

.glow {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.or::after,
.or::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ccc;
}

.or {
    color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_card_icon {
    text-decoration: none !important;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 20px;
    font-size: 25px;
    overflow: hidden;
    position: relative;
}

.social_card_icon {
    transition: transform 0.2s linear 0s, border-radius 0.2s linear 0.2s;
}

.social_card_icon svg {
    transition: transform 0.2s linear 0s;
}

.social_card_icon:hover {
    transform: rotate(-90deg);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.social_card_icon:hover i {
    transform: rotate(90deg);
}

.ltr .clipped {
    -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

.rtl .clipped {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}