* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --project-bg: #1aaca2;
    --project-bg-light: #40e0d6;
    --project-bg-dark: #136e68;
    --secondary: #17cae2;
    --secondary-light: #57e4f6;
    --secondary-dark: #15aabe;
    --white: #fff;
    --black: rgb(32 32 32);
    /* --black: #000; */
    --bg-white: #fff;
    /* --bg-black: #000; */
    --bg-black: #1f1f1f;
    --project-bg: #1aaca2;
}


/* ScrollBar  */

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #1aaca2;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(18, 18, 18, 0);
}

html,
body {
    overflow-x: hidden;
}

body {
    width: 100%;
    background-color: #1f1f1f;
    color: #fff;
    position: relative;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: "Poppins", sans-serif;
    /* font-family: "Acme", sans-serif; */
}

p {
    font-size: 1.2rem;
}

.hero-heading {
    font-size: 4rem;
}

section:not(.no-space) {
    margin: 1rem auto;
    padding: 1rem 12px;
    scroll-snap-type: y mandatory;
}

.text-pri {
    color: var(--project-bg) !important;
}

.special-para {
    padding: 15px 4px;
    /* font-size: 1.9rem; */
}

.sec-subtitle {
    font-size: 1.5rem;
}

.section-heading h2 {
    font-size: 4rem;
    width: max-content;
    position: relative;
    padding-bottom: 20px;
}

.section-heading h2::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 85%;
    height: 0.7px;
    background-color: var(--project-bg);
}


/* global css for cursor styling */

.cursor {
    position: absolute;
    z-index: 9999;
    background: #1aaca2;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #1aaca2, 0 0 20px #1aaca2, 0 0 100px #1aaca2;
    animation: cursor-colors 4s infinite;
}

.cursor::before {
    content: "";
    position: absolute;
    background: #1aaca2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    opacity: 0.4;
    border-radius: 50%;
}

.hero-canvas-wrapper {
    position: relative;
    max-width: 550px;
    height: 500px;
}

.hero-canvas-wrapper canvas {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
}


/* cursor  color changing css */

@keyframes cursor-colors {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}


/* floating whatsapp chat fixed icon button*/

.floating-chat-btn {
    position: fixed;
    bottom: 25px;
    right: 20px;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    z-index: 999;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.253);
    overflow: hidden;
}

.whatstbtn {
    background-color: #25d366;
    animation-delay: 3s;
    animation: floating1 1s linear infinite alternate;
}

.fiverr-btn {
    background-color: #1dbf73;
    bottom: 90px;
    font-size: 100px;
}

.fiverr-btn svg {
    fill: #fff;
}

.upwork-btn {
    font-size: 30px;
    background-color: #14a800;
    bottom: 155px;
}

@keyframes floating1 {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.07);
        opacity: 1;
    }
    100% {
        transform: scale(1.1);
    }
}

.floating-chat-btn:hover {
    animation: none;
    color: #fff !important;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .floating-chat-btn {
        width: 35px;
        height: 35px;
    }
    .whatstbtn {
        font-size: 25px;
    }
    .fiverr-btn {
        font-size: 50px;
    }
    .upwork-btn {
        font-size: 15px;
    }
}


/* global css */

.a-simple,
.a-white,
.a-black {
    text-decoration: none;
}

.a-simple:hover,
.a-white:hover,
.a-black:hover {
    text-decoration: none;
}

a[href]:hover {
    color: var(--project-bg);
}

.a-white {
    color: var(--white);
}

.a-black {
    color: var(--black);
}

.a-white:hover {
    color: var(--white);
}

.a-black:hover {
    color: var(--black);
}

.primary-btn {
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 50px;
    padding: 8px 25px;
    color: var(--white);
    font-size: 1.4rem;
    border: 1px solid var(--bg-white);
    transition: 0.7s ease;
    position: relative;
}

.primary-btn:hover {
    color: var(--project-bg);
}

.primary-btn::before {
    position: absolute;
    top: 25%;
    left: 25%;
    content: "";
    width: 52%;
    height: 53%;
    visibility: hidden;
    border-radius: 50px;
    background-color: transparent;
    pointer-events: none;
    transition: 0.2s ease;
}

.primary-btn::after {
    position: absolute;
    top: 50%;
    transform: translat(-50%, -50%);
    right: -20px;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--project-bg);
}

.primary-btn:hover::before {
    top: -1px;
    left: -3px;
    width: 103%;
    height: 104%;
    visibility: visible;
    border: 3px solid var(--project-bg);
}

.bg-black {
    background-color: var(--bg-black);
}

.bg-sec {
    background-color: var(--project-bg);
    padding: 0 !important;
}

.style-right-border {
    border-right: 2px dashed var(--project-bg);
}

.style-left-border {
    border-left: 2px dashed var(--project-bg);
}

.loader {
    border: 5px solid var(--bg-white);
    border-top: 5px solid var(--project-bg);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

.spinner {
    border: 3px solid var(--bg-white);
    border-top: 5px solid var(--project-bg);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* web start loading */

.WebStartLoader {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    transition: 1s linear background;
}

.laptop__svg {
    height: 50%;
    width: 100%;
    animation: boom-top 0.9s linear;
}

.code {
    visibility: hidden;
}

#code-1 {
    animation: code-1 0.5s linear 3.5s running alternate infinite;
}

#code-2 {
    animation-delay: 0.4s;
    animation: code-2 0.5s linear 3s running alternate infinite;
}

#code-3 {
    animation-delay: 0.7s;
    animation: code-3 0.5s linear 2.5s running infinite;
}

#code-4 {
    animation-delay: 0.9s;
    animation: code-4 0.5s linear 2s running alternate-reverse infinite;
}

#code-5 {
    animation-delay: 0.4s;
    animation: code-5 0.5s linear 1.5s running infinite;
}

#code-6 {
    animation-delay: 1.2s;
    animation: code-6 0.5s linear 1s running alternate-reverse infinite;
}

#code-7 {
    animation-delay: 0.7s;
    animation: code-7 0.5s linear 0.5s running infinite;
}

#code-8 {
    animation: code-8 0.5s linear 0s running alternate infinite;
}

@keyframes code-1 {
    from {
        width: 0px;
    }
    to {
        width: 7px;
    }
}

@keyframes code-2 {
    from {
        width: 0px;
    }
    to {
        width: 4px;
    }
}

@keyframes code-3 {
    from {
        width: 0px;
    }
    to {
        width: 6px;
    }
}

@keyframes code-4 {
    from {
        width: 0px;
    }
    to {
        width: 3px;
    }
}

@keyframes code-5 {
    from {
        width: 0px;
    }
    to {
        width: 3px;
    }
}

@keyframes code-6 {
    from {
        width: 0px;
    }
    to {
        width: 4px;
    }
}

@keyframes code-7 {
    from {
        width: 0px;
    }
    to {
        width: 9.5px;
    }
}

@keyframes code-8 {
    from {
        width: 0px;
    }
    to {
        width: 6px;
    }
}

.loading-logo {
    height: 30%;
    width: 100%;
}

.loading-logo img {
    width: 100%;
    height: 100%;
    margin-left: -20px;
    object-fit: contain;
    animation: boom-bottom 2s linear;
}

@keyframes boom-bottom {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes boom-top {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.web-loader-prgress-wrapper {
    height: 20%;
    margin: 0 auto;
}

.web-loader-prgress {
    width: 400px;
    max-width: 85vw;
    height: 4px;
    border-radius: 4px;
    background: rgba(white, 0.5);
    overflow: hidden;
}

.web-loader-prgress::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: var(--project-bg);
    animation: load 4s linear infinite;
    animation-delay: 0.7s;
}

@keyframes load {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}


/* Hide ScollBar when Mobile .nav is open */

.hideWebScrollbar ::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
    appearance: none;
    visibility: hidden;
    pointer-events: none;
}

.hideWebScrollbar {
    overflow: hidden !important;
}


/* hero-sec-home */

.hero-sec-home {
    min-height: 90vh;
}

.hero-sec-home h1::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 30%;
    height: 0.7px;
    background: var(--project-bg);
}

.hero-image-home {
    width: 100%;
}


/* explore project section */

.projects-col {
    position: relative;
    /* height: 100%; */
    margin-top: 22px;
}

.project-view-more-btn {
    /* margin: 8rem auto 2rem auto; */
    text-align: center;
}

@media (min-width: 768px) {
    /* .projects-col:nth-child(odd) {
        margin-top: 8.5rem;
        min-height: 500px;
    } */
    .box-item-image-block {
        padding-top: 38px;
    }
}

.fade-in-bottom {
    -webkit-animation: fade-in-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}


/* prefix */

@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.project-box-item {
    background: -webkit-gradient( linear, left top, left bottom, from(var(--project-bg)), to(#121212));
    background: -o-linear-gradient(top, var(--project-bg) 0%, #121212 100%);
    background: linear-gradient(180deg, var(--project-bg) 0%, #121212 100%);
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
}

.proj-card-action-bottom {
    margin: 5px auto;
}

.prj-card-viemore-btn {
    text-decoration: none;
    padding: 6px 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50px;
    color: var(--project-bg);
    font-weight: 700;
    font-size: 1.2rem;
}

.card-content-wrapper {
    width: 100%;
    color: #e0e0e0;
    padding-bottom: 30px;
}

.card-content-wrapper:hover {
    color: #fff;
}

.box-item-small-title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.card-content-wrapper .box-item-image-block img {
    border-radius: 50%;
    width: 100%;
    z-index: -1;
    box-shadow: 5px 5px 35px rgba(80, 80, 80, 0.192);
}


/* .box-item-image-block img {
    width: 100%;
    height: auto;
} */

.box-item-image-block {
    margin: 0 auto;
    padding-top: 20px;
    width: 100%;
    min-width: 196px;
    position: relative;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.box-item-video-block {
    border-radius: 4px;
    overflow: hidden;
}

.box-item-video-block video {
    width: 100%;
    object-fit: 100%;
    border-radius: 4px;
}

.project-box-item:hover .box-item-image-block {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}


/* servicess */

.service-col {
    margin-bottom: 2.5rem;
    opacity: 0;
}

.box-item.with-icon {
    overflow: visible;
    margin-top: 56px;
}

.service-box-item {
    background: #282828fc;
    height: 83%;
}

.box-item {
    overflow: hidden;
    padding: 32px;
    border-radius: 24px;
}

.box-item.with-icon .box-item-icon {
    margin-top: -88px;  
}

.box-item-icon {
    width: 112px;
    height: 112px;
    border-radius: 24px;
    background: -o-radial-gradient(circle, #121212 0%, #2e2e2e 100%);
    background: radial-gradient(circle, #121212 0%, #2e2e2e 100%);
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 2px solid var(--project-bg);
}

.box-item-icon img {
    vertical-align: center;
    text-align: center;
    width: 50px;
}

.box-item-title {
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 1.3333333;
}

.box-item-text {
    color: #a0a0a0;
}

.box-item-text p:last-child {
    margin-bottom: 0;
}


/* feedback */

.feed-back-short-row {
    margin: 5rem 0;
    align-items: center;
    min-height: 50vh;
    border-top: 1px solid transparent;
}

.feed-back-short p {
    font-size: 1.7rem;
}

.clientName {
    color: var(--project-bg);
    line-height: 5rem;
    display: flex;
    justify-content: flex-start;
}

.flying-avatar-wrapper {
    position: relative;
    width: 100%;
    min-height: 35vh;
}

.flying {
    position: absolute;
    top: 30%;
    left: 50%;
    margin: 12px;
    animation: 4s linear flyingAvatar infinite;
    cursor: pointer;
}

.flying:hover {
    animation: none;
    border: 3px solid #15aabe;
}

.flying:nth-child(odd) {
    right: 0;
}

.flying:nth-child(even) {
    left: 0;
}

.flying:nth-child(2) {
    top: 25px;
    left: 15px;
    animation-delay: 0.7s;
    animation-duration: 5s;
}

.flying:nth-child(4) {
    top: 45%;
    left: -5%;
    animation-delay: 0.9s;
}

.flying:nth-child(6) {
    top: auto;
    bottom: 50px;
    animation-delay: 0.6s;
    left: auto;
    right: 50%;
    animation-duration: 9s;
}

.flying:nth-child(1) {
    top: -25px;
    animation-delay: 1s;
    animation-duration: 7s;
}

.flying:nth-child(3) {
    top: auto;
    bottom: -15%;
    animation-delay: 0.4s;
}

@keyframes flyingAvatar {
    0% {
        -webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
        transform: rotate(0deg) translate(-10px) rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(1turn) translate(-10px) rotate(-1turn);
        transform: rotate(1turn) translate(-10px) rotate(-1turn);
    }
}


/* social connect */

.social-connect-us h2 {
    /* font-size: 3.5rem; */
    padding: 2rem;
    position: relative;
}

.social-connect-us h2::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 2px;
    background-color: var(--project-bg);
    height: 100%;
}

.social-connect-us-list {
    list-style: none;
    padding: 1.5rem;
}

.social-connect-us-list li a {
    padding: 1rem;
    margin: 0 7px;
    /* font-size: 2.rem; */
}

.social-connect-us-list li:nth-child(1) a:hover {
    color: var(--project-bg-dark);
}

.social-connect-us-list li:nth-child(2) a:hover {
    color: #264483;
}

.social-connect-us-list li:nth-child(3) a:hover {
    color: #0e76a8;
}

@media screen and (max-width: 768px) {
    .hero-heading {
        font-size: 25px;
    }
    .content-sec-hero {
        padding-top: 45px;
        text-align: center;
    }
    .hero-sec-home p {  
        width: 90%;
        margin: 12px auto;
    }
    .primary-btn {
        padding: 4px 25px;
        font-size: 16px;
    }

    .projects-container {
        padding-bottom: 2.5rem;
    }
    /* hero sec - home */
    .hero-sec-home h1::after {
        width: 200px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    /*  */
    .project-view-more-btn {
        margin: 0 auto;
    }
    /* feedback */
    .feed-back-short-row {
        flex-direction: column-reverse;
    }
    .flying-avatar-wrapper {
        margin-top: 2rem;
    }
    .flying {
        position: absolute;
        top: auto;
        left: auto;
        margin: 12px;
        animation: 4s linear flyingAvatar infinite;
        cursor: pointer;
    }
    .flying:hover {
        animation: none;
        border: 3px solid #15aabe;
    }
    .flying:nth-child(odd) {
        top: 0;
    }
    .flying:nth-child(even) {
        left: 0;
        bottom: 0;
    }
    .flying:nth-child(1) {
        right: 0;
        top: 35px;
    }
    .flying:nth-child(3) {
        right: 40%;
        top: 0;
        top: -35px;
        transform: translateX(-50%);
    }
    .flying:nth-child(5) {
        left: 0;
    }
    .flying:nth-child(2) {
        top: auto;
        bottom: 0;
        left: 0;
    }
    .flying:nth-child(4) {
        top: auto;
        bottom: 30%;
        left: 30%;
        transform: translateX(-50%);
    }
    .flying:nth-child(6) {
        top: auto;
        bottom: 25px;
        left: auto;
        right: 10%;
    }
    .social-connect-us {
        justify-content: flex-start !important;
    }
    .social-connect-us h2 {
        font-size: 1.1rem;
        padding: 2rem;
        position: relative;
    }
    .social-connect-us-list li a {
        margin: 2px;
        padding: 8px 4px;
    }
}

@media screen and (max-width: 550px) {
    .hero-canvas-wrapper {
        max-width: 100%;
        height: 40vh;
    }
    .content-sec-hero {
        min-height: 40vh;
    }
    p {
        font-size: 1rem;
    }
    .box-item {
        padding: 32px 18px;
    }
    .sec-subtitle {
        font-size: 1.1rem;
    }
    .section-heading h2 {
        font-size: 3rem;
    }
    .project-card-top {
        margin-bottom: auto;
    }
    .box-item-small-title {
        font-size: 1.2rem;
    }
    .project-box-item {
        padding: 15px;
    }
    .project-box-item .card-content-wrapper {
        height: 100%;
    }
    .box-item-image-block {
        margin: 0 auto;
        padding-top: 0;
        width: 100%;
        min-width: 100%;
        padding: 15px;
    }
    .box-item-image-block img {
        width: 100%;
        object-fit: contain;
        object-position: center center;
    }
}