@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-effect {
  @apply relative overflow-hidden;
}

.underline-effect::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 2px;
  left: 50%;
  background-color: #1aaca2;
  transition: all 0.3s linear;
  @apply transform -translate-x-1/2;
}

.underline-effect:hover::after {
  width: 40%;
}

.underline-active::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  bottom: 2px;
  left: 50%;
  background-color: #1aaca2;
  @apply transform -translate-x-1/2;
}
