@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@apply {
  .underline-effect {
    position: relative;
    overflow: hidden;
  }

  .underline-effect::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: currentColor;
    transition: all 0.3s ease-in-out;
    @apply transform -translate-x-1/2;
  }

  .underline-effect:hover::after {
    width: 100%;
  }
} */
